TgtDirFresh  = ["./backup/one", "./backup/two", "./backup/three"]
TgtBaseFresh = ["Base name one", "Base name two", "Base name three"]
TgtUrlFresh  = "https://you.sitefresh.com/auth"
UserFresh    = "usrname"
PassFresh    = "password"
TgtDirGrm    = "/opt/onecgetter/backup/grm"
TgtUrlGrm    = "https://you.sitegrm.com/auth"
UserGrm      = "usrname"
PassGrm      = "password"
ntfy_url     = "https://ntfy.sh/you_topic"
ntfy_cred    = "Encoded in base64 "user:pass": echo -n "user:pass" | base64"
