# Fresh секция, если задан UrlFresh нужно задать и все остальные переменные, если UrlFresh отсутствует, функционал отключится
UrlFresh   = "https://1cfresh.com/a/adm/ru/"
UserFresh  = "usrname_fresh"
PassFresh  = "password_fresh"
BasesFresh = ["Base name one", "Base name two", "Base name three"]
DirsFresh  = ["./backup/one", "./backup/two", "./backup/three"]

# GRM секция, если UrlGrm не задан, функционал отключится
UrlGrm     = "https://you.sitegrm.com/auth"
UserGrm    = "usrname_grm"
PassGrm    = "password_grm"
DirGrm     = "./backup/grm"

# Функционал ntfy оповещений будет работать если задан валидный ntfy_url
ntfy_url   = "https://ntfy.sh/you_topic"
ntfy_cred  = "Encoded in base64 "user:pass": echo -n "user:pass" | base64"
