TargetDir   = "folder for zip archives, for example /mnt/backup"
TargetUrl   = "https://you.site.com/auth"
UserName    = "usrname"
Password    = "password"
ntfy_url    = "https://ntfy.sh/you_topic"
ntfy_cred   = "Encoded in base64 "user:password": echo -n "user:password" | base64"
