[Unit]
Description=Downloading a backup copy of 1C on a schedule
After=network-online.target

[Service]
Type=oneshot

User=onecget
Group=onecget

ExecStart=/opt/onecgetter/venv/bin/python -u onecgetter.py
WorkingDirectory=/opt/onecgetter
LoadCredential=oneconf:/etc/onecgetter/config.env
SyslogIdentifier=onecgetter

PrivateTmp=true
ProtectSystem=strict
ProtectHome=true
ReadWritePaths=/opt/onecgetter
ReadWritePaths=/var/opt/backup/backups
NoNewPrivileges=true
CapabilityBoundingSet=

[Install]
WantedBy=multi-user.target
